* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HERO SECTION STYLING */
.Hero {
    height: 80vh;
    background-image: url("/img/camera-2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}
button {
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
    background-color: #eeff50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.button:hover {
    background: white;
    color: black;
    transform: scale(1.05);
}
.hero-inhalt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100%; /* Ensure it takes full height */
    position: relative;
    right: -5%;
}

.Hero-text-1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 7px 1px 1px black;     
}
.Hero-text-2 {
    font-size: 3.0rem;
    font-weight: lighter;
    text-shadow: 5px 1px 1px black; 
    margin-bottom: 15px;
}
.Hero-text-3 {
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.8;
    text-shadow: 2px 1px 1px black; 
}