<!--  Achievement section -->
<section class="achivement">
    <h2>Our Achievements</h2>
    <div class="achivement-items">
        <div class="achivement-item">
            <img class="image-item" src="/img/icons8-photo-100.png" alt="">
            <h3>500+</h3>
            <p>Photo Sessions</p>
        </div>
        <div class="achivement-item">
            <img class="image-item" src="/img/icons8-customer-100.png" alt="">
            <h3>1000+</h3>
            <p>Happy Customers</p>
        </div>
        <div class="achivement-item">
            <img class="image-item" src="/img/icons8-experience-100.png" alt="">
            <h3>10+</h3>
            <p>Years of experience</p>
        </div>
    </div>
</section>