<!--  INTRO SECTION  -->
<section class="first-section">
    <h2>Capturing Moments, Creating Memories.</h2>
    <div class="grid-container">
        <div class="grid-item item1">Where Memories Become Art</div>
        <div class="grid-item item2"></div>
        <div class="grid-item item3"></div>
        <div class="grid-item item4"></div>
        <div class="grid-item item5">Beyond Just Pictures – We Capture Emotions.</div>
    </div>

</section>

<!--  DARK FRAME SECTION  -->
<section class="frame-section">
    <h2>Frame Every Special Moment</h2>
    <p class="frame-text">
        Capturing emotions, freezing time, and turning every frame into a masterpiece.
    </p>
</section>

<!--  ABOUT SECTION  -->
<section class="about-section">
    <div class="about-content">
        <h2>About Us</h2>
        <p>
            We are passionate about capturing timeless moments and transforming them into unforgettable memories. 
            With a keen eye for detail and a love for storytelling, we ensure every frame tells a unique story.
        </p>
        <a routerLink="/about" class="about-button">Learn More</a>
    </div>
</section>

<!--  SERVICE SECTION  -->
<section class="services-section">
    <div class="service-card event">
        <h4>Event Coverage Solutions</h4>
        <a routerLink="/services" class="explore-button">Explore More</a>
    </div>
    <div class="service-card lifestyle">
        <h4>Lifestyle Photography Services</h4>
        <a routerLink="/services" class="explore-button">Explore More</a>
    </div>
    <div class="service-card drone">
        <div class="drone-description">
            <h4>Aerial Drone Photography</h4>
            <span>Experience breathtaking views from above</span>
        </div>
        <a routerLink="/services" class="explore-button">Explore More</a>
    </div>
</section>
