<app-hero></app-hero>
<app-sections></app-sections>


<!--  PORTFOLIO SECTION  -->
<section class="portfolio-section">
    <h2 class="portfolio-heading">Our Portfolio</h2>

    <div class="portfolio-grid">
        <div class="portfolio-item item-wedding">
            <h3>Wedding Photography</h3>
        </div>
        <div class="portfolio-item item-fashion">
            <h3>Fashion Shoots</h3>
        </div>
        <div class="portfolio-item item-event">
            <h3>Event Coverage</h3>
        </div>
        <div class="portfolio-item item-product">
            <h3>Product Photography</h3>
        </div>
        <div class="portfolio-item item-drone">
            <h3>Aerial Drone Shots</h3>
        </div>
        <div class="portfolio-item item-portrait">
            <h3>Portrait Sessions</h3>
        </div>
    </div>
    <a routerLink="/portfolio" class="view-more-btn">View More</a>
</section>

<app-achievements></app-achievements>

<app-testimonials></app-testimonials>


